@model IEnumerable<ClothesWebNET.Models.Bill>
@{
    ViewBag.Title = "MyBill";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .container{
        margin-top:200px;
        width:100%;
    }
    .my-bill{
        width:90%;
        margin:0 auto;
       
    }
    .bill-title{
        text-align:center;
        font-size:22px;
        font-weight:bolder;
    }
    .bill-item {
        width: 900px;
        border-radius:10px;
        margin: 20px auto;
        padding: 20px;
        border: 1px #808080 solid;
    }
    .item{

        height:120px;
        display:flex;
        justify-content:space-between;
    }
    .img-product{
        width:100px;
        height:100px;
    }
    .img-product img{
        width:100%;
        height:100%;
    }
    .info{
        width: calc(100% - 60px);
        padding:10px 10px;
        font-size:15px;
    }
    .info span{
        font-weight:bolder;
    }
    .info div + div{
        margin:6px 0;
    }
    .total-money{
        font-size:22px;
        padding: 20px;
    }
    .total-money span{
        font-weight:bolder;
    }
</style>


<div class="container">
    <div class="my-bill">
        <h1 class="bill-title">DANH SÁCH ĐƠN HÀNG</h1>


        <div class="list-bill">



      

        @foreach (var item in Model)
        {
            <div class="bill-item">
                @foreach (var i in item.DetailBIlls)
                {
                    <div class="item">
                        <div class="img-product">
                            <img src="@i.Product.ImageProducts.First().URLImage" alt="" />
                        </div>
                        <div class="info">
                            <div class="info-name"><span>Tên sản phẩm:  </span>@i.Product.nameProduct</div>
                            <div class="info-price"><span>Giá: </span>@i.Product.price,000đ</div>
                            <div class="info-qty"><span>Số lượng: </span> @i.qty</div>
                            <div class="info-total"><span>Tổng: </span> @i.intoMoney,000đ</div>
                        </div>
                    </div>

                }
                <div class="total-money"><span>Tổng cộng:</span> @item.Total,000đ</div>
            </div>
        }
   </div>
   
       

 </div>
  





